.cache
.history
dist
logs
project/project
project/target
target
tmp
/db
/.idea
/*.iml
/*.eml
/.eclipse
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/lib
/logs
/out
/public
/node_modules
